*{
	padding: 0;
	margin: 0;

	list-style: none;
	text-decoration: none;
}


body{
	width: 100%;
	min-width: 1400px;
	/*max-width: 1600px;*/
	margin: 0 auto;

	/*background-color: #000;*/
}


/*头部开始*/
header.header{
	width: 100%;
	min-width: 1400px;

	height: 60px;

	background-color: lightgreen;

	position: fixed;
    left: 0px;
    top: 0px;

    z-index: 1;
}

/*二层居中*/
header>.header_bg{
	width: 1200px;
	margin: 0 auto;

	height: 100%;
	/*border: 1px red solid;*/
}

/*logo*/
.header_bg>.logo{
	/*height: 100%;*/
	float: left;

	cursor: pointer;
}

/*导航*/
.logo+nav.nav{
	float: right;
}

nav a{
	display: block;
	float: left;

	height: 100%;
	line-height: 60px;

	width: 100px;
	text-align: center;

	color: #000;
}

nav a:hover {
	background-color: rgb(254,160,5);
}

/*头部结束*/


/*conten内容开始*/
/*1 首页*/
.home_page{
	width: 100%;
	min-width: 1400px;

	height: 900px;

	/*border: 1px red solid;*/
	/*position: relative;*/
	/*left: 0;*/

	background-image: url(img/b1_bg.jpg);
}

/*模块*/
.module{
	background-repeat: no-repeat;
	/*background-size: cover;*/
    background-size: 100% 100%;

	/*position: absolute;*/
}

/*首页背景*/
.home_page .home_page_bg{
	position: relative;
	width: 1310px;
	height: 100%;
	margin: 0 auto;
}

.home_page_bg img{
	/*border: 1px red solid;*/
	position: absolute;
}

.home_page_bg img:nth-child(1){
	bottom: 0;
	left: -180px;
}


/*手机*/
.home_page_bg .phone{
	left: 0;
	bottom: 80px;

	/*动画*/
	animation: phone 1s linear 0s 1 alternate forwards;
	                                 /*轮回      向前*/  
}

/*手机 动画*/
@keyframes phone{
	0% {
	    left: -50px;
	    opacity: 0;
	}
	100% {
	    left: 0;
	    opacity: 1;
	}
}

/*微信*/
.home_page_bg .weixi{
	left: 710px;
	bottom: 425px;

	animation: weixin 3s linear 0s 1 alternate forwards;
}

@keyframes weixin{
	0% {
	    opacity: 0;
	}
	100% {
	    opacity: 1;
	}
}


/*开始按钮*/
.home_page_bg .btn{
	left: 720px;
	bottom: 370px;
	cursor: pointer;

	animation: weixin 1s linear 0s infinite alternate forwards;
	                               /*无限次*/

}

/*纸张2*/
.home_page_bg  .paper_2{
	left: 1005px;
	bottom: 310px;

	animation: paper 1s linear 0s 1 alternate forwards;
}

@keyframes paper{
	0% {
	    bottom: 0;
	}
	100% {
	    bottom: 310px;
	}
}
/*首页结束*/


/*2 申请加入*/
.markete{
	width: 100%;
	min-width: 1400px;

	height: 900px;

	/*border: 1px red solid;*/
	background-image: url(img/b2_bg.jpg);
}

.markete .markete_bg{
	width: 1310px;
	height: 100%;

	margin: 0 auto;

	position: relative;
	/*border: 1px red solid;*/
	overflow: hidden;

}

.markete_bg img{
	position: absolute;
}

/*手机*/
.markete_bg .hand_phone{
	left: -220px;
	bottom: -30px;

	animation: hand_phone 1.5s linear 0s 1 alternate forwards;

}

@keyframes hand_phone{
	0% {
	    bottom: -400px;
	}
	100% {
	    bottom: -30px;
	}
}


/*气球1*/
.markete_bg .balloon_1{
	left: 300px;
	top: 300px;

	animation: balloon_1 1.5s linear 0s 1 alternate forwards;

}

@keyframes balloon_1{
	0% {
	    top: -40px;
	}
	100% {
	    top: 300px;
	}
}

/*气球2*/
.markete_bg .balloon_2{
	left: 790px;
	top: 400px;

	animation: balloon_2 1.5s linear 0s 1 alternate forwards;

}

@keyframes balloon_2{
	0% {
	    top: -20px;
	}
	100% {
	    top: 400px;
	}
}

/*.markete_bg .balloon_3{
	left: -300px;
	top: 150px;
}*/

/*气球4*/
.markete_bg .balloon_4{
	left: 1000px;
	top: 380px;

	animation: balloon_4 1.5s linear 0s 1 alternate forwards;

}

@keyframes balloon_4{
	0% {
	    top: 0px;
	}
	100% {
	    top: 380px;
	}
}

/*申请加入 用户 文本*/
.markete_bg  .user{
	position: absolute;
	left: 630px;
    top: 360px;

    /*width: 100px;*/
    /*height: 100px;*/

    /*border: 1px red solid;*/
	color: #fff;

}

.user .user_top{
	font-size: 28px;
	margin-bottom: 30px;
}

.user .user_bottom{
	font-size: 13px;
}
/*申请加入结束*/





/*3 营销手段*/
.serve{
	width: 100%;
	min-width: 1400px;

	height: 950px;

	/*border: 1px red solid;*/
	background-image: url(img/b3_bg.jpg);

	position: relative;
}

/*图*/
.serve>img.img_bg{
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;
}

/*第二层*/
.serve_bg{
	width: 1310px;
	height: 100%;

	margin: 0 auto;

	position: relative;
	/*border: 1px red solid;*/
	overflow: hidden;

}

/*第二层图*/
.serve_bg img{
	position: absolute;
	left: 450px;
	top: 350px;

	animation: rotate 4s linear 0s 1 alternate forwards;
}

@keyframes rotate{
	0% {
	    transform: rotateZ(720deg) translateX(0) translateY(0);
	    /*形变      旋转            位移*/

	    /*transition   过渡*/
	}

	50% {
	    transform: rotateZ(0deg) translateX(300px) translateY(300px);
	}

	100% {
	    transform: rotateZ(720deg) translateX(0) translateY(0);
	}
}



/*标题手段*/
.serve_bg .title{
	width: 970px;

	text-align: center;
	height: 90px;

	color: rgb(102,102,102);
    font-weight: 800;

    font-size: 28px;

	position: absolute;
    left: 100px;
    top: 200px;

	padding-bottom: 10px;
	border-bottom: 1px lightgray solid;
}

.title p{
	position: relative;
	left: 52px;
}

.title p span.spacal{
	color: rgb(254,160,5);
}

.title .title_en{
	color: rgb(188,188,191);
    margin-top: 30px;
    font-size: 0.5em;
    position: relative;
    left: 70px; 
}

/*内容*/
/*左*/
.serve_bg .content_left{
	width: 300px;
	/*height: 100px;*/

    position: absolute;
    left: 200px;
    top: 360px;

    text-align: right;
    line-height: 25px;

    font-size: 0.7em;

    /*border: 1px red solid;*/

    animation: left_c 3s linear 0s 1 alternate forwards;
}

@keyframes left_c{
	0% {
	    left: -200px;
	}
	100% {
	    left: 200px;
	}
}

.content_left>.content_s{
	margin-bottom: 40px;
}

.content_left>.content_s>.card{
    font-size: 1.5em;
    color: rgb(254,160,5);
}


/*互动营销*/
.content_left .interaction{
	position: relative;
	/*top: -10px;*/
	right: 60px;

    animation: interaction 3s linear 0s 1 alternate forwards;

}

@keyframes interaction{
	0% {
	    left: 0px;
	}
	100% {
	    left: -60px;
	}
}

/*右*/
.serve_bg .content_right{
	position: absolute;
	left: 780px;
	top: 360px;

	text-align: left;
    line-height: 25px;

    font-size: 0.7em;
    width: 300px;
    /*height: 100px;*/

    /*border: 1px red solid;*/

    animation: right_c 3s linear 0s 1 alternate forwards;
}

@keyframes right_c{
	0% {
	    left: 1180px;
	}
	100% {
	    left: 780px;
	}
}


/*意见呼叫*/
.content_right .interaction{
	position: relative;
	/*top: -10px;*/
	left: 50px;

    animation: opinion 3s linear 0s 1 alternate forwards;

}

@keyframes opinion{
	0% {
	    left: 0px;
	}
	100% {
	    left: 50px;
	}
}
/*营销手段结束*/


/*4 、服务优势*/
.apply{  
    width: 100%;
	min-width: 1400px;

	height: 900px;
	/*border: 1px red solid;*/
	background-image: url(img/b4_bg.jpg);

	position: relative;

	/*margin-bottom: 500px;*/
}

.apply_bg{
	width: 1310px;
	height: 100%;

	margin: 0 auto;
	/*border: 1px blue solid;*/

	position: relative;
	overflow: hidden;
}

.apply_bg img{
	position: absolute;
}

/*图片*/
.apply_bg .KTV{
	left: 650px;
    top: 200px;

    animation: KTV 2s linear 0s 1 alternate forwards;
}


@keyframes KTV{
	0% {
	    left: 900px;
	    opacity: 0;
	}
	100% {
	    left: 650px;
	    opacity: 1;
	}
}


.apply_bg .MVP{
	left: 900px;
    top: 200px;

    animation: MVP 2s linear 0s 1 alternate forwards;
}

@keyframes MVP{
	0% {
	    opacity: 0;
	}

	50% {
	    opacity: 0;
	}
	100% {
	    opacity: 1;
	}
}
/*图片动画结束*/


/*T优势*/
.apply_bg .apply_title{
	font-size: 2em;
    width: 200px;
    color: white;

    position: absolute;
    left: 200px;
    top: 200px;

    animation: apply_title 2s linear 0s 1 alternate forwards;
}



@keyframes apply_title{
	0% {
		top: 900px;
	}

	40% {
		top: 900px;
	}

	100% {
	    top: 200px;
	}
}

/*优势内容*/

.apply_bg ._title_hangye{
	font-size: 1.5em;
    margin-bottom: 5px;
}


.apply_bg .title_contents{
	/*margin-bottom: 20px;*/
	/*height: 66px;*/
	width: 380px;

	position: absolute;
	left: 200px;
	/*top: 0;*/

	color: white;
    font-size: 0.8em;


	/*border: 1px red solid;*/
}

.apply_bg ._title_hangye{
	font-size: 1.5em;
    margin-bottom: 5px;
}


/*行业*/
.industry{
	animation:industry 2s linear 0s 1 alternate forwards;
	top: 300px;
}


/*行业*/
@keyframes industry{
	0%{
		top: 900px;
	}

	10%{
		top:900px;
	}

	50%{
		top: 300px;
	}

	100%{
		top: 300px;
	}
}


/*团队*/
.team{
	animation:team 2s linear 0s 1 alternate forwards;
	top: 360px;
}

@keyframes team{
	0%{top: 900px;}
    20%{top: 900px;}
    60%{top: 360px;}
    100%{top: 360px;}
}

/*定制服务*/
.customized_sever{
	animation:d_sever 2s linear 0s 1 alternate forwards;
	top: 420px;
}

@keyframes d_sever{
	0%{top: 900px;}
    30%{top: 900px;}
    70%{top:420px;}
    100%{top: 420px;}
}


/*安全*/
.safety{
	animation:safety 2s linear 0s 1 alternate forwards;
	top: 480px;
}

@keyframes safety{
	0%{top: 900px;}
	40%{top: 900px;}
	80%{top: 480px;}
	100%{top: 480px;}
}




/*反馈*/
.feedback{
	animation:feedback 2s linear 0s 1 alternate forwards;
	top: 540px;
}

@keyframes feedback{
	0%{top: 900px;}
    50%{top:900px;}
    90%{top: 540px}
    100%{top: 540px;}
}




/*开发实力*/
.strength{
	animation:strength 2s linear 0s 1 alternate forwards;

	position: absolute;
	top: 600px;
}


@keyframes strength{
	0%{
		top: 900px;
	}
	60%{
		top:900px;
	}
	100%{
		top: 600px;
	}
}

/*服务优势结束*/



/*5 特色功能*/
.function{
	width: 100%;
	min-width: 1400px;

	height: 914px;

	/*border: 1px red solid;*/
	background-image: url(img/b5_bg.jpg);
}

.function .function_bg{
	width: 1310px;
	height: 100%;

	margin: 0 auto;

	position: relative;
	/*border: 1px red solid;*/
	overflow: hidden;

}

/*标题*/
.function_bg .feature_title{
	width: 850px;
    text-align: center;
    
    margin: 160px auto;
    /*margin-bottom: 0;*/
    margin-bottom: 10px;


    /*position: relative;*/
    /*border: 1px red solid;*/
}

/*大标题*/
.feature_title p:nth-child(1){
	color: rgb(102,102,102);
    font-size: 2em;
    margin-bottom: 10px;
}

.feature_title span{
	color: rgb(254,160,5);
}

/*小标题*/
.feature_title p:nth-child(2){
	color: rgb(188,188,188);
    font-size: 1em;
    margin-bottom: 10px;
}


/*功能*/
.function_bg .feature{
	width: 870px;
    border-top: 1px solid red;
    /*border-bottom: none;*/

    margin: 0 auto;
    margin-top: 20px;

    padding: 0 50px;
    /*padding-top: 10px;*/

    position: relative;
}

.feature .first{
    /*border: 1px solid red;*/
    margin-top: 10px;
    margin-bottom: 20px;
    height: 162px;

    position: relative;
}

.feature>.first>div{
	width: 185px;
    height: 160px; 

    margin: 0px 15px;
    margin-top: 0;

    border: 1px solid green;
    float: left;

    border-radius: 5px;
    text-align: center;

    font-size: 0.8em;
    color: rgb(119,119,119);
}

.feature>.first>div>.img{
	width: 90px;
    height: 95px;
    margin: 0 auto;

    /*border: 1px red solid;*/

    background-repeat: no-repeat;
}

.feature>div p:nth-child(2){
	font-size: 1.5em;
    color: black;
}

/*第一行 第一摸块*/
.feature .first{
	animation: first 2s linear 0s 1 alternate forwards;
}

@keyframes first{
	0% {
	    position: relative;
	    top: 160px;
	}

	100% {
	    position: relative;
	    top: 0;
	}
}


/*第二行 第二摸块*/
.feature .second{
	animation: second 2s linear 0s 1 alternate forwards;
}

@keyframes second{
	0% {
	    opacity: 0;
	}

	50%{
		opacity: 0;
	}

	100% {
	   opacity: 1;
	}
}


/*第三行 第三摸块*/
.feature .third{
	animation: third 2s linear 0s 1 alternate forwards;
}

@keyframes third{
	0% {
	    top: -160px;
	}

	100%{
		top: 0;
	}

}
/*特色功能结束*/



/*6技术特点*/
.technology{
	width: 100%;
	min-width: 1400px;

	height: 900px;

	/*border: 1px red solid;*/
	background-image: url(img/b6_bg.jpg);
}

.technology .technology_bg{
	width: 1310px;
	height: 100%;

	margin: 0 auto;

	position: relative;
	/*border: 1px red solid;*/
	overflow: hidden;

}

/*6.1标题*/
.technology_bg .te_title{
	position: absolute;
    left: 250px;
    top: 200px;

    color: white;

    animation: te_ti_text 3s ease 0s 1 forwards;
}

.te_title p:nth-child(1) {
    font-size: 2em;
    margin-bottom: 10px;
}

.te_title p:nth-child(2) {
    font-size: 1em;
}


/*6.2中心内容*/
.te_content{
	width: 533px;
    height: 423px;
    position: absolute;
    left: 50%;
    top: 300px;
    margin-left: -266px;
    background: url(img/b6_02.png);
}

/*圆点*/
.te_content img{
	position: absolute;
}

.qbx_dian_1 {
    left: 144px;
    top: 3px;
}

.qbx_dian_2 {
    left: 377px;
    top: 3px;
}

.qbx_dian_3 {
    left: 520px;
    top: 147px;
}

.qbx_dian_4 {
    left: 470px;
    top: 330px;
}

.qbx_dian_5 {
    left: 262px;
    top: 411px;
}

.qbx_dian_6 {
    left: 51px;
    top: 330px;
}

.qbx_dian_7 {
    left: 3px;
    top: 149px;
}


/*乌云上下*/
.te_content .jt{
	width: 40px;
    height: 35px;
     /*border: 1px solid red; */
    position: absolute;
    left: 250px;
    top: 120px;
    overflow: hidden;
}


.jt .jt_up{
	width: 15px;
    height: 35px;

    float: left;
    opacity: 0;

    background: url(img/b6_03.png) 0px 0px;

    animation: jt_up 2s linear 3s infinite forwards;
}

@keyframes jt_up{
	0% {
	    position: relative;
	    top: 37px;
	    opacity: 0;
	}

	1% {
	    position: relative;
	    top: 37px;
	    opacity: 1;
	}

	100% {
	    position: relative;
	    top: -37px;
	    opacity: 1;
	}
}

/*下*/
.jt .jt_down{
	width: 15px;
    height: 35px;

    float: right;
    opacity: 0;
    
    background: url(img/b6_03.png) 15px 35px;

    animation: jt_down 2s linear 3s infinite forwards;
}

@keyframes jt_down{
	0% {
	    position: relative;
	    top: -37px;
	    opacity: 0;
	}

	1% {
	    position: relative;
	    top: -37px;
	    opacity: 1;
	}

	100% {
	    position: relative;
	    top: 37px;
	    opacity: 1;
	}
}

/*文本内容*/
.te_content div{
	position: absolute;

	animation: te_ti_text 3s ease 0s 1 forwards;

	width: 200px;
    height: 40px;
    font-size: 0.8em;
    color: white;
}

@keyframes te_ti_text{
	0% {
	    /*right: 650px;*/
	    opacity: 0;
	}

	100% {
	    /*right: 50px;*/
	    opacity: 1;
	}
}


.qbx_zi_1{
	left: 60px;
    top: -25px;
}

.qbx_zi_2{
	left: 403px;
    top: -15px;
}

.qbx_zi_3{
	left: 538px;
    top: 140px;
}

.qbx_zi_4{
	left: 488px;
    top: 335px;
}

.qbx_zi_5{
	left: 203px;
    top: 430px;
}

.qbx_zi_6{
	left: -50px;
    top: 335px;
}

.qbx_zi_7{
	left: -125px;
    top: 140px;
}




/*6.3手执笔*/
.pen{
	position: absolute;
    right: 50px;
    top: 550px;

    animation: pen 3s ease-out 0s 1 forwards;
}

@keyframes pen{
	0% {
	    right: 650px;
	    opacity: 0;
	}

	100% {
	    right: 50px;
	    opacity: 1;
	}
}

/*技术特点结束*/


/*7、登录注册*/
.login_register{
	width: 100%;
	min-width: 1400px;

	height: 900px;

	/*border: 1px red solid;*/
	background-image: url(img/b7_bg.jpg);
}

.login_register .login_bg{
	width: 1310px;
	height: 100%;

	margin: 0 auto;

	position: relative;
	/*border: 1px red solid;*/
	overflow: hidden;
    
}

/*标题*/
.login_bg>p{
	width: 200px;
    text-align: center;
    margin: 0 auto;

    margin-top: 294px;
   
    font-size: 2em;
    color: rgb(110, 110, 110);
}

.login_bg>p span{
	color: rgb(254, 160, 5);
}

/*在线服务*/
.login_bg .online_bg{
	width: 867px;
    height: 60px;

    margin: 0 auto;

    
    border-top: 1px solid grey;
    position: relative;
}

.online_bg div{
	/*display: inline-block;*/
	float: left;
}

.online_bg .online{
	/*display: inline-block;*/
    width: 100px;
    height: 45px;
    margin-top: 20px;
    margin-right: 136px;
    background: url(img/login.png) -120px -105px;
    position: relative;
    left: -6px;
}

.online_bg .QQ_online{
	width: 113px;
    height: 45px;
    position: relative;
    top: 10px;
    /*margin-right: 20px;*/
    background: url(img/login.png) 0px -100px;
}

.online_bg span{
    /*display: inline-block;*/
    height: 45px;
    line-height: 45px;
    font-size: 1.5em;
    margin-top: 16px;
    color: rgb(254, 160, 5);

    position: absolute;
    right: -2px;

}
/*在线服务结束*/


/*登录*/
.login_bg .login{
	width: 236px;
	/*height: 230px;*/
	/*border: 1px red solid;*/

	margin-left: 222px;
    margin-top: 30px;
    /*margin-right: 0px;*/

}

.login fieldset{
	border: none;
	margin-bottom: 20px;
}

.login fieldset span{
	color: rgb(160,160,160); 
}

/*id 密码 框*/
.login input{
	width: 221px;
    height: 35px;
    font-size: 1em;
    padding-left: 10px;
    margin-bottom: 20px;
}

.login button{
    width: 140px;
    height: 38px;
    color: white;
    background: rgb(255,165,16);

    outline: none;
    cursor: pointer;


}

/*注册*/
.login_bg .register{
	/*margin-right: 222px;*/

	position: absolute;
	right: 222px;
	top: 396px;
}

/*登录注册结束*/


/*8底部*/
footer.footer{
	width: 100%;
	min-width: 1400px;

	height: 900px;
    background: url(img/b8_bg.jpg);
    background-size: 100% 100%;
}

.footer .footer_bg{
	width: 1310px;
	height: 100%;

	margin: 0 auto;

	position: relative;
	/*border: 1px red solid;*/
	overflow: hidden;
}

.footer_bg .f_title{
	width: 30%;
	float: left;
	text-align: center;

	height: 90px;
	color: rgb(255,165,16);

	/*font-weight: 800;*/
    font-size: 28px;

    margin-top: 200px;

    /*border: 1px red solid;*/
}

.f_title .English{
    color: #fff;
    margin-top: 30px;
    font-size: 14px;
}

.f_title p:last-child{
	color: rgb(255,165,16);
	font-size: 16px;
}
/*content内容结束*/